*{
	margin: 0;
	padding: 0;
}
body{
font-family: sans-serif;
}

#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar
{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,173,255,1) 62%, rgba(0,212,255,1) 100%);
	padding: 0 !important;
	height: 150px;
}

.navbar-brand img
{
	height: 100px;
	padding-left: 50px;
	padding-right: 20px;
}

.navbar-light .navbar-brand 
{
    color: white !important;
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	color: white !important;
	font-weight: 600;
	text-align: left;
}

.navbar-toggler
{
	outline: none !important;
	color: white !important;
}


/*--------Banner Section------*/

#banner
{ 
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,173,255,1) 62%, rgba(0,212,255,1) 100%);
	padding-top: 5%;
 }

 .promo-title{
 	font-size: 40px;
 	font-weight: 600;
 	margin-top: 100px;
 	color: white;
 }

 .col-md-6 img
 {
 	height: 200px;
 	z-index: 5;
 	position: absolute;
 	margin-left: 5%;
 }

 .p2
 {
 	color: white;
 }

 .bottom-svg
 {
 	width: 100%
 }

 .blob-sticky
 {
 	height: 50px;
 }

 #banner .btn-primary
{
	box-shadow: none;
	
	margin: 30px;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-color: rgb(138, 63, 252);
}